@using Coching.Model;
@model NoteItemViewModel

@{
    ViewData["Title"] = Model?.ActionName;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

@if (Model == null)
{
    return;
}

@if (Model.Success)
{
    <script>
        parent.@(Model.Callback)(eval(@Html.Raw(Model.getResult())));

        var open = parent.layer.getFrameIndex(window.name);
        parent.layer.close(open);
    </script>
    return;
}

<style>
    .layui-textarea {
        height: calc(100vh - 100px);
    }
    .layui-input-block {
        margin-left: 0;
    }
</style>

<div class="layui-fluid">
    <div class="layui-card">
        <div>
            @using (Html.BeginForm(Model.ActionName, "Home", FormMethod.Post, new { @class = "layui-form layui-row", @id = "formId" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "请检查输入错误", new { @class = "text-danger" })

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        @Html.TextAreaFor(m => m.Content, new { @class = "layui-textarea", @placeholder = "请输入详细批注", @autofocus = true })
                    </div>
                    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.HiddenFor(m => m.KeyGuid)
                    @Html.HiddenFor(m => m.ActionName)
                    @Html.HiddenFor(m => m.ActionTitle)
                    @Html.HiddenFor(m => m.OldJson)
                    @Html.HiddenFor(m => m.NodeGuid)
                    @Html.HiddenFor(m => m.Callback)
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    <button class="layui-btn" type="submit" style="pointer-events: auto;"><i class="layui-icon">&#xe609;</i>提交</button>
                </div>
            }
        </div>
    </div>
</div>