@using Coching.Model;
@model ProjectViewModel

@{
    ViewData["Title"] = "项目";
    if (Model.Inner)
    {
        Layout = null;
    }
}

@if (Model.Inner)
{
    <style>
        .container {
            height: 100%;
            opacity: 0;
        }
    </style>
}
else
{
    <style>
        .container {
            padding: 5px;
            height: calc(100vh - 70px);
        }
        .time-line {
            width: 400px;
            border-left: 1px solid #eee;
            overflow-y: auto;
            height: 100%;
        }
    </style>
}

<style>
    .item-container {
        width: 300px;
        display: inline-block;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: all 0.3s;
    }

        .item-container:hover {
            transform: translate(0, -3px);
        }

    .add-item {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
    }

        .add-item img {
            margin-bottom: 10px;
        }

    .ellipsis-4 {
        display: -webkit-box;
        overflow: hidden;
        white-space: normal !important;
        text-overflow: ellipsis;
        word-wrap: break-word;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .title img {
        margin-left: 5px;
        opacity: 0.8;
    }

        .title img:hover {
            opacity: 1;
        }

    .projects {
        overflow-y: auto;
        height: 100%;
    }
</style>

<link rel="stylesheet" href="~/views/project/index.css">
<script src="~/views/project/index.js"></script>

<div class="container layout-row">
    <div class="projects flex">
        @foreach (var project in Model.Projects)
        {
            <div id="@project.ID" class="item-container" onclick="go_coching(this)">
                <div class="layout-row title">
                    <div class="ellipsis-1 text-color-important text-size-common-mid flex">@Html.Raw(project.Name ?? "&nbsp;")</div>
                    <img src="~/res/workers.png" title="成员管理" onclick="workers(this)" />
                    <img src="~/res/edit.png" title="编辑" onclick="edit(this)" />
                </div>
                <div class="layout-row descrip">
                    <div class="ellipsis-4 flex text-color-descrip text-size-descrip">@Html.Raw(project.Description ?? "&nbsp;")</div>
                    <img class="logo" src="@Url.projectHeader(project.Header)" />
                </div>
                <div class="layout-row layout-center-h partners">
                    @foreach (var p in project.Partners)
                    {
                        <img id="@p.ID" class="partner-image" src="@Url.header(p.User.Header)" title="@($"{p.User.Name}[{p.RoleTitle}]")" />
                    }
                </div>
            </div>
        }
        <div class="item-container" onclick="add_project()">
            <div class="add-item">
                <img src="~/res/add.png" />
                <div>创建新项目</div>
            </div>
        </div>
    </div>
    @if (!Model.Inner)
    {
        <div class="time-line">
        </div>
    }
</div>

<script>
    function go_coching(e) {
        location.href = '@Url.Action("Index", "Coching")' + '?projectGuid=' + $(e).attr('id');
    }

    function add_project() {
        layer.open({
            type: 2,
            title: '添加新项目',
            maxmin: true,
            area: ['80%', '80%'],
            shadeClose: true,
            content: '@Html.Raw(Url.Action("Add", new { callback = "add_project_success" }))',
        });
    }

    function add_project_success(result) {
        $('.projects').prepend(tool.projectHtml(result));
        $('.time-line').load('@Html.Raw(Url.Action("ActionLogs", "Organization"))')
    }

    function edit(e) {
        var ev = window.event || arguments.callee.caller.arguments[0];

        if (window.event) {
            ev.cancelBubble = true;
        }
        else {
            ev.stopPropagation();
        }

        layer.open({
            type: 2,
            title: '编辑',
            maxmin: true,
            area: ['80%', '80%'],
            shadeClose: true,
            content: '@Html.Raw(Url.Action("Modify", new { callback = "edit_project_success" }))' + '&id=' + $(e).parents('*[id]').attr('id'),
        });
    }

    function edit_project_success(result) {
        $('#' + result.ID).html(tool.projectInnerHtml(result));
        $('.time-line').load('@Html.Raw(Url.Action("ActionLogs", "Organization"))')
    }

    function workers(e) {
        var ev = window.event || arguments.callee.caller.arguments[0];

        if (window.event) {
            ev.cancelBubble = true;
        }
        else {
            ev.stopPropagation();
        }

        layer.open({
            type: 2,
            title: '成员管理',
            maxmin: true,
            area: ['80%', '80%'],
            shadeClose: true,
            content: '@Html.Raw(Url.Action("Partners", new { notify = "partners_notify" }))' + '&projectGuid=' + $(e).parents('*[id]').attr('id'),
        });
    }
</script>

@if (!Model.Inner)
{
    <script>
        $('.time-line').load('@Html.Raw(Url.Action("ActionLogs", "Organization"))')
    </script>
}