@using Coching.Model;
@model ProjectViewModel

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewData["Title"] = "项目";
}

<style>
    .item-container {
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    }

    .title img {
        margin-left: 15px;
    }
</style>

<link rel="stylesheet" href="~/lib/pane/pane.css">
<script src="~/lib/pane/pane.js"></script>
<link rel="stylesheet" href="~/views/project/index.css">
<script src="~/views/project/index.js"></script>
<link rel="stylesheet" href="~/views/shared/tools.css">

@foreach (var project in Model.Projects)
{
    <div id="@project.ID" class="item-container" onclick="go_coching(this)">
        <div class="layout-row title">
            <div class="ellipsis-1 text-color-important text-size-common-mid flex">@Html.Raw(project.Name ?? "&nbsp;")</div>
            <img src="~/res/workers.png" title="成员管理" onclick="workers(this)" />
            <img src="~/res/edit.png" title="编辑" onclick="edit(this)" />
        </div>
        <div class="layout-row descrip">
            <div class="ellipsis-2 flex text-color-descrip text-size-descrip">@Html.Raw(project.Description ?? "&nbsp;")</div>
            <img class="logo" src="@Url.projectHeader(project.Header)" />
        </div>
        <div class="layout-row layout-center-h partners">
            @foreach (var p in project.Partners)
            {
                <img id="@p.ID" class="partner-image" src="@Url.header(p.User.Header)" title="@($"{p.User.Name}[{p.RoleTitle}]")" />
            }
        </div>
    </div>
}

<div class="tools">
    <div class="tool" onclick="add_project()">
        <img src="~/res/add.png" />
        <p>新建</p>
    </div>
    <div class="tool" onclick="time_line()">
        <img src="~/res/time_line.png" />
        <p>动态</p>
    </div>
</div>

<script>
    function go_coching(e) {
        location.href = '@Url.Action("Index", "Coching")' + '?projectGuid=' + $(e).attr('id');
    }

    function time_line() {
        pane.open({
            title: '动态',
            height: '70%',
            shadeClose: true,
            src: '@Html.Raw(Url.Action("ActionLogs"))'
        });
    }

    function add_project() {
        pane.open({
            title: '添加新项目',
            src: '@Html.Raw(Url.Action("Add", new { callback = "add_project_success" }))',
        });
    }

    function add_project_success(result) {
        $('.main-body').prepend(tool.projectHtml(result));
    }

    function edit(e) {
        var ev = window.event || arguments.callee.caller.arguments[0];

        if (window.event) {
            ev.cancelBubble = true;
        }
        else {
            ev.stopPropagation();
        }

        pane.open({
            title: '编辑',
            src: '@Html.Raw(Url.Action("Modify", new { callback = "edit_project_success" }))' + '&id=' + $(e).parents('*[id]').attr('id'),
        });
    }

    function edit_project_success(result) {
        $('#' + result.ID).html(tool.projectInnerHtml(result));
    }

    function workers(e) {
        var ev = window.event || arguments.callee.caller.arguments[0];

        if (window.event) {
            ev.cancelBubble = true;
        }
        else {
            ev.stopPropagation();
        }

        layer.open({
            type: 2,
            title: '成员管理',
            maxmin: true,
            area: ['80%', '80%'],
            shadeClose: true,
            content: '@Html.Raw(Url.Action("Partners", new { notify = "partners_notify" }))' + '&projectGuid=' + $(e).parents('*[id]').attr('id'),
        });
    }
</script>