<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css">
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <link rel="stylesheet" href="~/css/utils.css">
    <script src="~/js/utils.js"></script>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
    <script src="~/lib/layui/layui.js"></script>

    <style>
        .layui-layout-right {
            margin-right: 30px;
        }
    </style>
</head>
<body>
    <header>
        <ul class="layui-nav" lay-filter="nav">
            <li class="layui-nav-item">
                <a href="">项目管理@*<span class="layui-badge">9</span>*@</a>
            </li>
            <li class="layui-nav-item">
                <a href="">消息中心@*<span class="layui-badge-dot"></span>*@</a>
            </li>
            <li class="layui-nav-item layui-layout-right" lay-unselect="">
                <a href="javascript:;">
                    <img id="header" src="~/res/userHead.png" class="layui-nav-img">
                    <span id="name"><br></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" event="user">修改信息</a></dd>
                    <dd><a href="@Url.Action("Logout","Auth")">安全退出</a></dd>
                </dl>
            </li>
        </ul>
    </header>

    @RenderBody()

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        layui.use('element', function() {
            var element = layui.element;
  
            //监听导航点击
            element.on('nav(nav)', function(elem) {
                if (elem.attr('event') == 'user') {
                    layer.open({
                        type: 2,
                        title: '修改资料',
                        maxmin: true,
                        area: ['400px', '280px'],
                        shadeClose: true,
                        content: '@Html.Raw(Url.Action("Modify", "User", new { callback = "modify_user_success" }))',
                    });
                }
            });
        });

        function modify_user_success(result) {
            if (result.Header) {
                $('#header').attr("src", result.Header);
            }
            $('#name').html(result.Name);
        }

        $(function () {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '@Url.Action("GetCurrentUser", "User")',
                data: null,
                success: function (json) {
                    if (json.Success) {
                        if (json.Body) {
                            if (json.Body.Header) {
                                $('#header').attr("src", json.Body.Header);
                            }
                            $('#name').html(json.Body.Name);
                        }
                    }
                    else {
                        layer.msg(json.Message, {icon: 2});
                    }
                }
            });

            @if (!String.IsNullOrEmpty(ViewBag.Error))
            {
                <text>
                setTimeout(function () {
                    YFUtils.showErrorToastr('@ViewBag.Error')
                }, 500)
                </text>
            }
        })
        function header(src) {
            if (src) {
                return src;
            }
            return '@Url.Content("~/res/userHead.png")';
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
