@using Coching.Model;
@model CochingViewModel

@{
    ViewData["Title"] = "考成树";
}

<style>
    .out-container {
        height: calc(100vh - 70px);
    }
    .tree {
        width: 100%;
        height: 100%;
    }
    .catalogue {
        width: 250px;
        background-color: #F7F7F7;
        overflow-y: auto;
        height: 100%;
        padding: 5px 0;
    }
        .catalogue::-webkit-scrollbar {
            width: 6px;
        }
        .catalogue::-webkit-scrollbar-thumb {
            border-radius: 6px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: #535353;
        }
        .catalogue::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: #EDEDED;
        }
    .catalogue-item {
        background-color: white;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
        padding: 10px;
        line-height: 20px;
        margin: 0 5px;
        cursor: pointer;
    }
        .catalogue-item:hover {
            opacity: 0.8;
        }
        .catalogue > .catalogue-item:not(:first-child) {
            margin-top: 10px;
        }
    .add-button {
        position: fixed;
        bottom: 20px;
        left: 180px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
        background-color: white;
        padding: 10px;
    }
    .add-button:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    .tree-container {
        position: relative;
        overflow: auto;
    }
    .right-click-menu-pos {
        position: absolute;
        left: -99999px;
        top: -999999px;
        display: block;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    .tooltip-container {
        max-width: 300px;
    }
    .tooltip-title {
        color: white;
        text-align: center;
    }
    .tooltip-content {
        color: #eee;
        display: -webkit-box;
        overflow: hidden;
        white-space: normal !important;
        text-overflow: ellipsis;
        word-wrap: break-word;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        border-bottom: solid 1px white;
        border-top: solid 1px white;
        padding: 5px 0;
        margin: 5px 0;
    }
    .tooltip-status {
        text-align: right;
    }
        .tooltip-status img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 3px;
        }
    .right-click-menu .layui-layer-content {
        background-color: white !important;
        color: #444 !important;
    }
    .right-click-menu .layui-layer-TipsG {
        display: none;
    }
    .right-click-menu .layui-layer-content {
        padding: 2px 0px !important;
    }
    .right-click-menu li {
        padding: 0 15px;
        line-height: 26px;
    }
        .right-click-menu li:hover {
            cursor: pointer;
            background-color: #eee;
        }
        .right-click-menu .line {
            height: 1px;
            background-color: lightgray;
        }
    .root-status {
        padding-top: 5px;
    }
    .root-status img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 3px;
    }
    .root-status .flex {
        overflow-x: hidden;
        margin-right: 10px;
    }
    .status-color0 {
        color: #62b7f4;
    }
    .status-color1 {
        color: #FF4500;
    }
    .status-color2 {
        color: #32CD32;
    }
    .status-color3 {
        color: #888888;
    }
    .status-color4 {
        color: #080808;
    }
</style>

<script src="~/lib/echarts/echarts.min.js"></script>

<div class="layout-row out-container">
    <div class="catalogue">
        @foreach (var root in Model.Roots)
        {
            <div id="@root.Node.ID" class="catalogue-item" onclick="root(this)">
                <div class="ellipsis-1 text-size-descrip text-color-common">@root.Node.Name</div>
                <div class="ellipsis-2 text-size-min text-color-descrip">@root.Node.Description</div>
                <div class="layout-row layout-center-h root-status">
                    <div class="workers layout-row layout-center-h flex">
                        @foreach (var partner in Model.Partners.Where(p => root.Workers.Contains(p.UserGuid)))
                        {
                            <img worker="@partner.User.ID" src="@Url.header(partner.User.Header)" />
                        }
                    </div>
                    <div class="status-value text-size-descrip text-color-descrip status-color@(root.Node.Status)">@root.Node.StatusTitle</div>
                </div>
            </div>
        }
        <div class="add-button" onclick="add_root()">
            <img src="~/res/add.png" />
        </div>
    </div>
    <div class="tree-container flex">
        <div class="tree"></div>
        <div class="right-click-menu-pos"></div>
    </div>
</div>

<script>
    var tree = null;
    var NodeStatus = {
        未进行: 0,
        进行中: 1,
        完成: 2,
        取消: 3,
        暂停: 4
    }
    var NodeColors = [
        '#62b7f4',
        '#FF4500',
        '#32CD32',
        '#888888',
        '#080808',
    ]
    var tool = {
        findNode: function (id, array) {
            for (var i = 0; i < array.length; i++) {
                if (array[i].id == id) {
                    return array[i];
                }
                if (array[i].children) {
                    var node = this.findNode(id, array[i].children);
                    if (node) {
                        return node;
                    }
                }
            }
            return null;
        },
        removeNode: function (id, array) {
            for (var i = 0; i < array.length; i++) {
                if (array[i].id == id) {
                    array.splice(i, 1);
                    break;
                }

                if (array[i].children) {
                    array[i].children = this.removeNode(id, array[i].children);
                }
            }
            return array;
        },
        minSize: function (array) {
            var x = 1, y = 0;
            for (var i = 0; i < array.length; i++) {
                if (array[i].collapsed || !array[i].children || array[i].children.length == 0) {
                    y += 1;
                    continue;
                }

                var childrenSize = this.minSize(array[i].children);
                x = Math.max(x, 1 + childrenSize.x);
                y += childrenSize.y;
            }
            return {
                x: x,
                y: y
            }
        },
        toTreeData: function (array) {
            return YFUtils.select(array, i => {
                return {
                    id: i.ID,
                    root: i.RootGuid,
                    parent: i.ParentGuid,
                    name: i.Name,
                    label: i.Label,
                    description: i.Description,
                    creator: {
                        id: i.Creator.ID,
                        name: i.Creator.Name,
                        header: i.Creator.Header
                    },
                    worker: i.Worker == null ? null : {
                        id: i.Worker.ID,
                        name: i.Worker.Name,
                        header: i.Worker.Header
                    },
                    status: {
                        value: i.Status,
                        title: i.StatusTitle,
                    },
                    children: this.toTreeData(i.Children || []),
                    collapsed: false,
                    itemStyle: {
                        color: NodeColors[i.Status],
                        borderWidth: 0
                    },
                }
            });
        },
        statusHtml: function (result) {
            var status = '<div class="layout-row layout-center-h root-status">';
            status += '<div class="workers layout-row layout-center-h flex">';
            if (result.Workers) {
                var partners = eval(@Html.Raw(Model.getPartners()));
                partners = YFUtils.where(partners, p => {
                    return YFUtils.findIf(result.Workers, w => p.UserGuid == w) != null;
                });
                for (var i = 0; i < partners.length; i++) {
                    status += '<img worker="' + partners[i].User.ID + '" src="' + header(partners[i].User.Header) + '" />';
                }
            }
            status += '</div>';
            status += '<div class="status-value text-size-descrip text-color-descrip status-color' + result.Status + '">' + result.StatusTitle + '</div>';
            status += '</div>';
            return status;
        },
        innerHtml: function (result) {
            return '<div class="ellipsis-1 text-size-descrip text-color-common">' + result.Name + '</div>'
                + '<div class="ellipsis-2 text-size-min text-color-descrip">' + result.Description + '</div>'
                + this.statusHtml(result);
        },
        itemHtml: function (result) {
            return '<div id="' + result.ID + '" class="catalogue-item" onclick="root(this)">'
                + this.innerHtml(result)
                + '</div>';
        },
        updateHtml: function (result) {
            $('#' + result.ID + ' .ellipsis-1').html(result.Name);
            $('#' + result.ID + ' .ellipsis-2').html(result.Description);
            for (var status in NodeStatus) {
                $('#' + result.ID + ' .status-value').removeClass('status-color' + NodeStatus[status]);
            }
            $('#' + result.ID + ' .status-value').addClass('status-color' + result.Status);
            $('#' + result.ID + ' .status-value').html(result.StatusTitle);
        },
        addWorker: function (id, worker) {
            if ($('#' + id + '[worker=' + worker.ID + ']').length == 0) {
                $('#' + id + ' .workers').append('<img worker="' + worker.ID + '" src="' + header(worker.Header) + '" />');
            }
        }
    }
    var menu = {
        commands: function (node) {
            var cmds = [
                {
                    name: '添加分支',
                    command: 'addChild'
                },
                {
                    line: true
                },
                {
                    name: '删除',
                    command: 'delete'
                }
            ];
            if (node.data.collapsed) {
                cmds.push({
                    name: '展开',
                    command: 'expand'
                })
            }
            else if (node.data.children && node.data.children.length > 0) {
                cmds.push({
                    name: '收缩',
                    command: 'collapse'
                })
            }
            return cmds;
        },
        execute: function (command, node) {
            this[command].call(this, node);
        },
        addChild: function (node) {
            add_child(node.data.id, node.data.root);
        },
        delete: function (node) {
            var data = tool.removeNode(node.data.id, tree.getOption().series[0].data);
            tree.refresh(data);
        },
        expand: function (node) {
            node.data.collapsed = false;
            tree.refresh();
        },
        collapse: function (node) {
            node.data.collapsed = true;
            tree.refresh();
        }
    }
</script>

<script>
    function add_root() {
        layer.open({
            type: 2,
            title: '添加任务',
            maxmin: true,
            area: ['80%', '80%'],
            shadeClose: true,
            content: '@Html.Raw(Url.Action("AddNode", new { projectGuid = Model.ProjectGuid, rootGuid = Guid.Empty, parentGuid = Guid.Empty, callback = "add_root_success" }))',
        });
    }

    function add_root_success(result) {
        $('.catalogue').prepend(tool.itemHtml(result));
        top.layer.msg("提交成功!");
    }

    function add_child(parentId, rootId) {
        layer.open({
            type: 2,
            title: '添加节点',
            maxmin: true,
            area: ['80%', '80%'],
            shadeClose: true,
            content: '@Html.Raw(Url.Action("AddNode", new { projectGuid = Model.ProjectGuid, callback = "add_child_success" }))' + '&parentGuid=' + parentId + '&rootGuid=' + rootId,
        });
    }

    function add_child_success(result) {
        var array = tree.getOption().series[0].data;
        var node = tool.findNode(result.ParentGuid, array);

        node.children = node.children || [];
        node.children.push(tool.toTreeData([result])[0]);

        tree.refresh(array);
    }

    function root(e) {
        $.post('@Url.Action("Tree")', {
            id: $(e).attr('id')
        }, function (result) {
            if (!result.Success) {
                top.layer.msg(result.Message);
            }
            else {
                init_tree(tool.toTreeData([result.Body]));
            }
        });
    }

    function changed_notify(result, reload) {
        if (result.ID == result.RootGuid) {
            if (reload) {
                $.post('@Url.Action("Root")', {
                    id: result.ID
                }, function (result) {
                    if (!result.Success) {
                        top.layer.msg(result.Message);
                    }
                    else {
                        $('#' + result.ID).html(tool.innerHtml(result));
                    }
                });
            }
            else {
                tool.updateHtml(result);
            }
        }

        var array = tree.getOption().series[0].data;
        var node = tool.findNode(result.ID, array);

        if (node) {
            var newNode = tool.toTreeData([result])[0];
            for (var p in newNode) {
                if (p == 'id' || p == 'children' || p == 'collapsed') {
                    continue;
                }
                node[p] = newNode[p];
            }
            tree.refresh(array);
        }
    }
</script>

<script>
    function optimizeSize(data) {
        var size = tool.minSize(data);
        $('.tree').css('min-width', size.x * 300);
        $('.tree').css('min-height', size.y * 80);
    }

    function optimizeScroll() {
        if ($('.tree').width() > $('.tree-container').width()) {
            $('.tree-container').scrollLeft($('.tree').width() / 2 - $('.tree-container').width() / 2);
        }
        if ($('.tree').height() > $('.tree-container').height()) {
            $('.tree-container').scrollTop($('.tree').height() / 2 - $('.tree-container').height() / 2);
        }
    }

    function init_tree(data) {
        data = data || [];
        optimizeSize(data);
        if (tree) {
            tree.dispose();
            tree = null;
        }
        tree = echarts.init($('.tree')[0]);
        optimizeScroll();
        tree.showLoading();

        $('.tree-container').bind("contextmenu", function (x) {
            return !tree.contextmenu;
        });

        tree.closeContextmenu = function () {
            if (tree.contextmenu) {
                layui.layer.close(tree.contextmenu);
                tree.contextmenu = null;
            }
        }

        tree.on('contextmenu', function (params) {
            var commands = menu.commands(params);
            var n = YFUtils.select(commands, cmd => {
                if (cmd.line) {
                    return '<li class="line"/>';
                }
                return '<li cmd-event="' + cmd.command + '">' + cmd.name + '</li>';
            }).join('');

            var n = '<ul>' + n + '</ul>';
            $('.right-click-menu-pos').css({
                'left': params.event.offsetX,
                'top': params.event.offsetY
            });
            tree.contextmenu = layui.layer.tips(n, $('.right-click-menu-pos'), {
                tips: 3,
                time: 0,
                fixed: !0,
                skin: "layui-box right-click-menu",
                success: function (i) {
                    i.find("li").on("mousedown",
                        function (i) {
                            layui.stope(i);
                        }).on("click", function () {
                            menu.execute($(this).attr('cmd-event'), params);
                            tree.closeContextmenu();
                        })
                }
            });
            $(document).off("mousedown", tree.closeContextmenu).on("mousedown", tree.closeContextmenu);
            $(window).off("resize", tree.closeContextmenu).on("resize", tree.closeContextmenu);
        });

        tree.on('click', function (params) {
            layer.open({
                type: 2,
                title: '详情',
                maxmin: true,
                area: ['80%', '80%'],
                shadeClose: true,
                content: '@Html.Raw(Url.Action("NodeDetail"))' + '?id=' + params.data.id + '&notify=changed_notify',
            });
        });

        $('.tree-container').click(function () {
            tree.closeContextmenu();
        })

        var option = {
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove'
            },
            series: [
                {
                    type: 'tree',

                    data: data,

                    left: '20%',
                    right: '20%',
                    top: '20%',
                    bottom: '20%',
                    roam: true,
                    symbol: 'rect',
                    symbolSize: [150, 30],
                    initialTreeDepth: -1,

                    expandAndCollapse: false,
                    label: {
                        position: 'inside',
                        rotate: 0,
                        verticalAlign: 'middle',
                        align: 'center',
                        fontSize: 9,
                        formatter: function (node) {
                            return ['{name|' + node.data.label + '}'].join('\n');
                        },
                        rich: {
                            name: {
                                color: 'white'
                            }
                        }
                    },
                    tooltip: {
                        formatter: function (node) {
                            var status = '<img src="' + header(node.data.creator.header) + '">';
                            if (node.data.worker) {
                                status += '<img src="' + header(node.data.worker.header) + '">';
                            }
                            status += '<div class="flex">' + node.data.status.title + '</div>';

                            return '<div class="tooltip-container">'
                                + '<div class="tooltip-title">' + node.data.name + '</div>'
                                + '<div class="tooltip-content">' + (node.data.description || '无详细内容') + '</div>'
                                + '<div class="tooltip-status layout-row layout-center-h">'
                                + status
                                + '</div>';
                                + '</div>';
                        }
                    },

                    animationDurationUpdate: 750
                }
            ]
        }

        tree.setOption(option);

        tree.refresh = function (data) {
            option.series[0].data = data || tree.getOption().series[0].data;
            optimizeSize(option.series[0].data);
            tree.resize();
            tree.setOption(option);
        }

        tree.hideLoading();
    }

    $(function () {
        layui.define(["layer"],
            function (i) {
            }
        );
    })
</script>