@using Coching.Model;
@using Public.Utils;
@model NodeItemViewModel

@{
    ViewData["Title"] = Model?.ActionName;
    Layout = "~/Views/Shared/_PopupMobile.cshtml";
}

@if (Model == null)
{
    return;
}

@if (Model.Success)
{
    <script>
        parent.@(Model.Callback)(eval(@Html.Raw(Model.getResult())));
        parent.pane.close(window.name);
    </script>
    return;
}

<style>
    #editor {
        height: calc(100vh - @(Model.IsAdmin ? 350 : 298)px);
        width: calc(100vw - 130px);
        min-height: 200px;
    }
</style>

@using (Html.BeginForm(Model.ActionName, "Coching", FormMethod.Post, new { @class = "weui-cells weui-cells_form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "请检查输入错误", new { @class = "text-danger" })

    <label class="weui-cell weui-cell_active weui-check__label weui-cells_checkbox @(Model.IsAdmin ? "" : "hidden")" for="Coching">
        <div class="weui-cell__hd">
            @Html.CheckBoxFor(m => m.Coching, new { @class="weui-check hidden" })
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>考成项 - 计入业绩的项</p>
        </div>
    </label>
    @Html.ValidationMessageFor(m => m.Coching, "", new { @class = "text-danger" })

    <div class="weui-cell weui-cell_active">
        <div class="weui-cell__hd">@Html.LabelFor(m => m.Name, new { @class = "weui-label" })</div>
        <div class="weui-cell__bd">
            @Html.TextBoxFor(m => m.Name, new { @class = "weui-input", @placeholder = "请输入名称", @autocomplete = "off" })
        </div>
    </div>
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    <div class="weui-cell weui-cell_active">
        <div class="weui-cell__hd">@Html.LabelFor(m => m.Description, new { @class = "weui-label" })</div>
        <div class="weui-cell__bd">
            @Html.HiddenFor(m => m.Description)
            @Html.HiddenFor(m => m.HtmlDescription)
            @await Html.PartialAsync("_Widgets/HtmlEditor", new HtmlEditorWidgetModel("editor", Model.HtmlDescription, "#Description", "#HtmlDescription"))
        </div>
    </div>
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

    <div class="weui-cell weui-cell_active">
        <div class="weui-cell__hd"><label class="weui-label">附件</label></div>
        <div class="weui-cell__bd">
            @Html.HiddenFor(m => m.Documents)
            @await Component.InvokeAsync("Upload", new { imageMaxCount = 10, imageWidth = 0, imageHeight = 0, imagePreviewWidth = 60, imagePreviewHeight = 60, uploaderName = "DocumentUploader" })
        </div>
    </div>

    <div>
        @Html.HiddenFor(m => m.KeyGuid)
        @Html.HiddenFor(m => m.ActionName)
        @Html.HiddenFor(m => m.ActionTitle)
        @Html.HiddenFor(m => m.OldJson)
        @Html.HiddenFor(m => m.ProjectGuid)
        @Html.HiddenFor(m => m.RootGuid)
        @Html.HiddenFor(m => m.ParentGuid)
        @Html.HiddenFor(m => m.IsAdmin)
        @Html.HiddenFor(m => m.Callback)
    </div>

    <div class="weui-btn-area">
        <button class="weui-btn weui-btn_primary" type="submit">提交</button>
    </div>
}

<script>
    @if (Model.Documents == null)
    {
        <text>
        var documents = [];
        </text>
    }
    else
    {
        <text>
        var documents = eval(@Html.Raw(Model.Documents));
        </text>
    }

    DocumentUploader.init(function (url) {
        documents.push(url);
        $('#Documents').val(JSON.stringify(documents));
    }, function (url) {
        documents = documents.filter(d => d != url);
        $('#Documents').val(JSON.stringify(documents));
    }, documents);
</script>