@using Coching.Model;
@using Coching.Model.Front;
@model NodeDetailViewModel

@{
    ViewData["Title"] = "节点详情";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

@if (Model == null)
{
    return;
}

<style>
    legend {
        width: auto;
    }

    .pane {
        padding: 3px;
        background-color: #F2F2F2;
    }

    .layout-row.card-container {
        align-items: stretch;
    }

    .layui-card {
        margin: 3px !important;
    }

    .layui-collapse {
        margin: 5px;
    }

    .layui-field-title {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .add-note-btn .layui-icon {
        line-height: 42px;
        font-size: 14px;
        color: #0171c2;
        padding: 0 14px;
    }

        .add-note-btn .layui-icon:hover {
            color: #0171f2;
            cursor: pointer;
        }

    .layui-colla-title img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .info-list {
        padding: 14px 15px;
    }

        .info-list img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 10px;
        }

    .layui-form-label {
        width: 90px;
        color: #ccc;
    }

    .layui-input-block {
        margin-left: 90px;
    }

    .layui-colla-title .flex {
        margin-right: 10px;
    }

    .clickable:hover {
        background-color: lightgoldenrodyellow;
    }

    .click-menu {
        border: solid 1px #eee;
    }

        .click-menu .layui-layer-content {
            background-color: white !important;
            color: #444 !important;
        }

        .click-menu .layui-layer-TipsG {
            display: none;
        }

        .click-menu .layui-layer-content {
            padding: 2px 0px !important;
        }

        .click-menu img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .click-menu li {
            padding: 0 15px;
            line-height: 32px;
        }

            .click-menu li:hover {
                cursor: pointer;
                background-color: #eee;
            }

    .inline-item {
        display: inline-block;
        vertical-align: middle;
        line-height: 36px;
        margin-right: 10px;
    }
</style>

<fieldset class="layui-elem-field layui-field-title">
    <legend>基本信息</legend>
</fieldset>

<div class="pane">
    <div class="layui-row layout-row card-container">
        <div class="layui-card flex">
            <div id="NodeName" class="layui-card-header clickable" onclick="modify()">
                @Model.Data.Node.Name
            </div>
            <div id="NodeDescription" class="layui-card-body text-color-descrip clickable" onclick="modify()">
                @Model.Data.Node.Description
            </div>
        </div>
        <form class="layui-card flex info-list layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="status">
                        @foreach (var item in Model.StatusList)
                        {
                            if (Model.Data.Node.Status == item.Key)
                            {
                                <option value="@item.Key" selected>@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item offer">
                <label class="layui-form-label">报时</label>
                <div class="layui-input-block">
                    @{
                        FOffer me = null;
                        foreach (var offer in Model.Data.Offers)
                        {
                            <div class="inline-item">
                                @if (offer.User.ID == Model.Me.ID)
                                {
                                    me = offer;
                                    <div class="layout-row layout-center-h clickable" onclick="show_hide(['.offer_edit'], ['.offer'])" title="@($"{offer.User.Name} {offer.EstimatedTime}")">
                                        <img src="@Url.header(offer.User.Header)" />
                                        <div class="offer_info">@offer.EstimatedTime</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="layout-row layout-center-h" title="@($"{offer.User.Name} {offer.EstimatedTime}")">
                                        <img src="@Url.header(offer.User.Header)" />
                                        <div>@offer.EstimatedTime</div>
                                    </div>
                                }
                            </div>
                        }
                        if (me == null)
                        {
                            <div class="inline-item">
                                <div class="layout-row layout-center-h clickable" onclick="show_hide(['.offer_edit'], ['.offer'])" title="@($"{Model.Me.Name} 尚未预估工时")">
                                    <img src="@Url.header(Model.Me.Header)" />
                                    <div class="offer_info">我尚未预估</div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="layui-form-item offer_edit" style="display: none;">
                <label class="layui-form-label">预报工时</label>
                <div class="layui-input-inline">
                    <input type="text" autocomplete="off" placeholder="请填写预估工时" class="layui-input" value="@(me == null ? 0 : me.EstimatedManHour)">
                </div>
                <div class="layui-form-mid layui-word-aux">小时</div>
            </div>
            <div class="layui-form-item offer_edit" style="display: none;">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" onclick="offer()">确定</button>
                    <button type="button" class="layui-btn layui-btn-primary" onclick="show_hide(['.offer'], ['.offer_edit'])">取消</button>
                </div>
            </div>
            <div class="layui-form-item node_time">
                <label class="layui-form-label">预估用时</label>
                <div class="layout-row layout-center-h layui-input-block clickable" onclick="show_hide(['.node_time_edit'], ['.node_time'])">
                    <div class="node_time_info">@Model.Data.Node.EstimatedTime</div>
                </div>
            </div>
            <div class="layui-form-item node_time_edit" style="display: none;">
                <label class="layui-form-label">预估用时</label>
                <div class="layui-input-inline">
                    <input type="text" autocomplete="off" placeholder="请输入工时" class="layui-input" value="@Model.Data.Node.EstimatedManHour">
                </div>
                <div class="layui-form-mid layui-word-aux">小时</div>
            </div>
            <div class="layui-form-item node_time_edit" style="display: none;">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" onclick="modify_estimated_manhour()">确定</button>
                    <button type="button" class="layui-btn layui-btn-primary" onclick="show_hide(['.node_time'], ['.node_time_edit'])">取消</button>
                </div>
            </div>
            <div class="layui-form-item layout-row">
                <div class="flex">
                    <label class="layui-form-label">创建者</label>
                    <div class="layout-row layout-center-h layui-input-block">
                        <img src="@Url.header(Model.Data.Node.Creator.Header)" />
                        <div>@Model.Data.Node.Creator.Name</div>
                    </div>
                </div>
                <div class="flex">
                    <label class="layui-form-label">执行者</label>
                    <div class="layout-row layout-center-h layui-input-block clickable" onclick="select_worker(this)">
                        <img id="worker_header" src="@Url.header(Model.Data.Node.Worker?.Header)" />
                        <div id="worker_name">@(Model.Data.Node.Worker == null ? "暂无" : Model.Data.Node.Worker.Name)</div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">起止时间</label>
                <div class="layui-input-block layout-row">
                    <input type="text" name="StartTime" id="StartTime" lay-verify="StartTime" placeholder="尚未开始" autocomplete="off" class="layui-input flex" value="@(Model.Data.Node.StartTime == null ? "" : Model.Data.Node.StartTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))">
                    <div style="width: 10px"></div>
                    <input type="text" name="EndTime" id="EndTime" lay-verify="EndTime" placeholder="尚未完成" autocomplete="off" class="layui-input flex" value="@(Model.Data.Node.EndTime == null ? "" : Model.Data.Node.EndTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))">
                </div>
            </div>
        </form>
    </div>
</div>

<fieldset class="layui-elem-field layui-field-title">
    <legend>批注</legend>
</fieldset>

<div class="layui-collapse" lay-filter="notes">
    @foreach (var note in Model.Data.Notes)
    {
        <div id="@note.ID" class="layui-colla-item">
            <h2 class="layui-colla-title layout-row layout-center-h">
                <img src="@Url.header(note.User.Header)" />
                <span class="ellipsis-1 flex name" style="display: none;">@note.User.Name</span>
                <span class="ellipsis-1 flex content">@note.Content</span>
                <span>@note.CreatedTime.ToString("yy-MM-dd HH:mm:ss")</span>
            </h2>
            <div class="layui-colla-content">
                <p>@note.Content</p>
            </div>
        </div>
    }
    <div class="add-note-btn">
        <i class="layui-icon layui-icon-add-1" onclick="add_note()">    添加批注</i>
    </div>
</div>

<script>
    var menu = null;

    function show_hide(show, hide) {
        for (var i = 0; i < show.length; i++) {
            $(show[i]).show();
        }
        for (var i = 0; i < hide.length; i++) {
            $(hide[i]).hide();
        }
    }

    function modify() {
        layer.open({
            type: 2,
            title: '修改',
            maxmin: true,
            area: ['80%', '80%'],
            shadeClose: true,
            content: '@Html.Raw(Url.Action("ModifyNode", new { id = Model.Data.Node.ID, callback = "modify_success" }))',
        });
    }

    function modify_success(result) {
        $('#NodeName').html(result.Name);
        $('#NodeDescription').html(result.Description);
        parent.@(Model.Notify)(result);
    }

    function modify_estimated_manhour() {
        var value = $('.node_time_edit input').val();
        $.post('@Html.Raw(Url.Action("ModifyEstimatedManHour"))', {
            id: '@Model.Data.Node.ID',
            estimatedManHour: value
        }, function (result) {
            if (!result.Success) {
                top.layer.msg(result.Message);
            }
            else if (result.Body.EstimatedManHour != value) {
                top.layer.msg('修改失败，请刷新页面');
            }
            else {
                $('.node_time .node_time_info').html(result.Body.EstimatedTime);
                parent.@(Model.Notify)(result.Body);
                show_hide(['.node_time'], ['.node_time_edit']);
            }
        });
    }

    function offer() {
        var value = $('.offer_edit input').val();
        $.post('@Html.Raw(Url.Action("Offer"))', {
            id: '@Model.Data.Node.ID',
            estimatedManHour: value
        }, function (result) {
            if (!result.Success) {
                top.layer.msg(result.Message);
            }
            else if (result.Body.EstimatedManHour != value) {
                top.layer.msg('修改失败，请刷新页面');
            }
            else {
                $('.offer .offer_info').html(result.Body.EstimatedTime);
                $('.offer .clickable').attr('title', result.Body.User.Name + ' ' + result.Body.EstimatedTime);
                show_hide(['.offer'], ['.offer_edit']);
            }
        });
    }

    function select_worker(e) {
        var n = '';
        @foreach (var p in Model.Partners)
        {
            <text>
            n += '<li id="@p.User.ID" class="layout-row layout-center-h"><img src="@Url.header(p.User.Header)"/>@p.User.Name</li>'
            </text>
        }

        n = '<ul>' + n + '</ul>';
        menu = layui.layer.tips(n, $(e), {
            tips: 3,
            time: 0,
            fixed: !0,
            skin: "layui-box click-menu",
            success: function (i) {
                i.find("li").on("mousedown",
                    function (i) {
                        layui.stope(i);
                    }).on("click", function () {
                        var id = $(this).attr('id');
                        $.post('@Html.Raw(Url.Action("ModifyWorker"))', {
                            id: '@Model.Data.Node.ID',
                            userGuid: id
                        }, function (result) {
                            if (!result.Success) {
                                top.layer.msg(result.Message);
                            }
                            else if (result.Body.WorkerGuid != id) {
                                top.layer.msg('修改失败，请刷新页面');
                            }
                            else {
                                $('#worker_header').attr('src', header(result.Body.Worker.Header));
                                $('#worker_name').html(result.Body.Worker.Name);
                                parent.@(Model.Notify)(result.Body, true);
                            }
                        });

                        closeMenu();
                    })
            }
        });
        $(document).off("mousedown", closeMenu).on("mousedown", closeMenu);
        $(window).off("resize", closeMenu).on("resize", closeMenu);
    }

    function closeMenu() {
        if (menu) {
            layui.layer.close(menu);
            menu = null;
        }
    }

    function add_note() {
        layer.open({
            type: 2,
            title: '添加批注',
            maxmin: true,
            area: ['80%', '80%'],
            shadeClose: true,
            content: '@Html.Raw(Url.Action("AddNote", new { nodeGuid = Model.Data.Node.ID, callback = "add_note_success" }))',
        });
    }

    function add_note_success(note) {
        $('.layui-collapse').prepend('<div id="' + note.ID + '" class="layui-colla-item">'
            + '<h2 class="layui-colla-title layout-row layout-center-h">'
            + '<img src="' + header(note.User.Header) + '" />'
            + '<span class="ellipsis-1 flex name" style="display: none;">' + note.User.Name + '</span>'
            + '<span class="ellipsis-1 flex content">' + note.Content + '</span>'
            + '<span>' + note.CreatedTime + '</span>'
            + '<i class="layui-icon layui-colla-icon"></i>'
            + '</h2>'
            + '<div class="layui-colla-content layui-show">'
            + '<p>' + note.Content + '</p>'
            + '</div>'
            + '</div>'
        );
    }
</script>

<script>
    function use_layui() {
        layui.use(['element', 'layer', 'form', 'layedit', 'laydate'], function() {
            var element = layui.element, form = layui.form, laydate = layui.laydate;
            element.on('collapse(notes)', function (data) {
                if (data.show) {
                    $(data.title).children('.name').show();
                    $(data.title).children('.content').hide();
                }
                else {
                    $(data.title).children('.name').hide();
                    $(data.title).children('.content').show();
                }
            });

            form.on('select(status)', function (data) {
                $.post('@Html.Raw(Url.Action("ModifyStatus"))', {
                    id: '@Model.Data.Node.ID',
                    status: data.value
                }, function (result) {
                    if (!result.Success) {
                        top.layer.msg(result.Message);
                    }
                    else if (result.Body.Status != data.value) {
                        top.layer.msg('修改失败，请刷新页面');
                    }
                    else {
                        parent.@(Model.Notify)(result.Body);
                    }
                });
            });

            laydate.render({
                elem: '#StartTime',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss',
                calendar: true,
                done: function (value, date, endDate) {
                    $.post('@Html.Raw(Url.Action("ModifyStartTime"))', {
                        id: '@Model.Data.Node.ID',
                        startTime: value
                    }, function (result) {
                        if (!result.Success) {
                            top.layer.msg(result.Message);
                        }
                        else if (result.Body.StartTime != value) {
                            top.layer.msg('修改失败，请刷新页面');
                        }
                        else {
                            parent.@(Model.Notify)(result.Body);
                        }
                    });
                }
            });
            laydate.render({
                elem: '#EndTime',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss',
                calendar: true,
                done: function (value, date, endDate) {
                    $.post('@Html.Raw(Url.Action("ModifyEndTime"))', {
                        id: '@Model.Data.Node.ID',
                        endTime: value
                    }, function (result) {
                        if (!result.Success) {
                            top.layer.msg(result.Message);
                        }
                        else if (result.Body.EndTime != value) {
                            top.layer.msg('修改失败，请刷新页面');
                        }
                        else {
                            parent.@(Model.Notify)(result.Body);
                        }
                    });
                }
            });
        });
    }

    use_layui();
</script>