@using Coching.Model;
@using Public.Utils;
@model NodeItemViewModel

@{
    ViewData["Title"] = Model?.ActionName;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

@if (Model == null)
{
    return;
}

@if (Model.Success)
{
    <script>
        parent.@(Model.Callback)(eval(@Html.Raw(Model.getResult())));

        var open = parent.layer.getFrameIndex(window.name);
        parent.layer.close(open);
    </script>
    return;
}

<style>
    #editor {
        height: calc(100vh - 240px);
    }
</style>

<div class="layui-fluid">
    <div class="layui-card">
        <div>
            @using (Html.BeginForm(Model.ActionName, "Coching", FormMethod.Post, new { @class = "layui-form layui-row" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "请检查输入错误", new { @class = "text-danger" })

                <div class="layui-form-item">
                    @Html.LabelFor(m => m.Name, new { @class = "layui-form-label" })
                    <div class="layui-input-block">
                        @Html.TextBoxFor(m => m.Name, new { @class = "layui-input", @placeholder = "请输入名称", @autocomplete = "off" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>

                <div class="layui-form-item">
                    @Html.LabelFor(m => m.Description, new { @class = "layui-form-label" })
                    <div class="layui-input-block">
                        @Html.HiddenFor(m => m.Description)
                        @Html.HiddenFor(m => m.HtmlDescription)
                        @await Html.PartialAsync("_Widgets/HtmlEditor", new HtmlEditorWidgetModel("editor", Model.HtmlDescription, "#Description", "#HtmlDescription"))
                    </div>
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">附件</label>
                    <div class="layui-input-block">
                        @Html.HiddenFor(m => m.Documents)
                        @await Component.InvokeAsync("Upload", new { imageMaxCount = 10, imageWidth = 0, imageHeight = 0, imagePreviewWidth = 60, imagePreviewHeight = 60, uploaderName = "DocumentUploader" })
                    </div>
                </div>

                <div>
                    @Html.HiddenFor(m => m.KeyGuid)
                    @Html.HiddenFor(m => m.ActionName)
                    @Html.HiddenFor(m => m.ActionTitle)
                    @Html.HiddenFor(m => m.OldJson)
                    @Html.HiddenFor(m => m.ProjectGuid)
                    @Html.HiddenFor(m => m.RootGuid)
                    @Html.HiddenFor(m => m.ParentGuid)
                    @Html.HiddenFor(m => m.Callback)
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    <button class="layui-btn" type="submit" style="pointer-events: auto;"><i class="layui-icon">&#xe609;</i>提交</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    @if (Model.Documents == null)
    {
        <text>
        var documents = [];
        </text>
    }
    else
    {
        <text>
        var documents = eval(@Html.Raw(Model.Documents));
        </text>
    }

    DocumentUploader.init(function (url) {
        documents.push(url);
        $('#Documents').val(JSON.stringify(documents));
    }, function (url) {
        documents = documents.filter(d => d != url);
        $('#Documents').val(JSON.stringify(documents));
    }, documents);
</script>